  @media(max-width:768px){
  body{
    
    margin: auto;
   }
   .container{
    display: grid;
    height: 1055px;
    
    grid-template-columns:1fr 1fr ;
    grid-template-rows: 1fr 1fr 0.6fr 0.5fr 0.5fr .32fr 0.3fr ;
    grid-template-areas:
    "A A"
    "B B" 
    "C C"
    "D D"
    "E F" 
    "G H"
    "I I"; 
   
    grid-gap:0.05rem
  }
   #a{
     background-color:aqua ;
     grid-area:A;
     text-align: center;
    line-height:75px;
   }
    #b{ 
     background-color:aquamarine ;
     grid-area: B;
     line-height: 150px;
     text-align: center
   }
   #c{
    background-color:cyan;
    grid-area:C;
    text-align: center;
     line-height: 125px;
   }
   #d{
     background-color:darkturquoise;
     grid-area:D;
     text-align: center;
     line-height: 125px;
    }
   #e{
     background-color:lightblue;
     grid-area:E;
     text-align: center;
     line-height: 250px;
    }
   #f{
    background-color:lightskyblue;
    grid-area:F;
    text-align: center;
    line-height: 250px;
    }
   #g{
    background-color:mediumturquoise;
    grid-area:G;
    text-align: center;
    line-height: 250px;
     }
          
    #h{
    background-color:lightcyan;
    grid-area:H;
    text-align: center;
    line-height: 250px;
 
    }
    #i{
    background-color:palegreen;
    grid-area:I;
    text-align: center;
    line-height: 80px;
   }
              
  } 
  @media(min-width:768px){
    body{
     max-width:960px;
    }
     .container{
      display: grid;
      height: 100vh;
      
      grid-template-columns:1fr 0.95fr 0.95fr 0.95fr 0.95fr ;
      grid-template-rows: 0.6fr 1fr 0.8fr 0.4fr;
       grid-template-areas: 
      "A A A A A"
      "B C C D D" 
      "B E F G H"
      "B I I I I"; 
     }
    
  }  

  