

    /* desk top */ 
    @media(min-width:768px){
    body{
     max-width:960px;
     margin: auto;
    } 
   .container{
    display: grid;
    height: 700px;
    
    grid-template-columns:20.83% 19.79% 19.79% 19.79% 19.79%;
    grid-template-rows: 14.287% 28.572% 35.715% 21.43%;
     grid-template-areas: 
    "A A A A A"
    "B C C D D" 
    "B E F G H"
    "B I I I I"; 

    grid-row:  0.2em; 
    
   }
 
    
     
  #a{
    background-color:wheat;
    grid-area:A;
    text-align: center;
    line-height: 100px;
    
  }
  #b{
    background-color:orange ;
     grid-area: B; 
     text-align: center;
     line-height: 600px;
    
  }
  #c{
   background-color:purple;
   grid-area: C;
   text-align: center;
  line-height: 200px;
   
  }
  #d{
    background-color:yellow;
    grid-area: D;
    text-align: center;
    line-height: 200px;
   }
  #e{
    background-color:indianred;
    grid-area: E;
    text-align: center;
    line-height: 250px;
   }
  #f{
   background-color:maroon;
   grid-area: F;
   text-align: center;
    line-height: 250px;
   }
  #g{
   background-color:lightcoral;
   grid-area: G;
   text-align: center;
    line-height: 250px;
    }
         
   #h{
   background-color:mediumvioletred;
   grid-area: H;
   text-align: center;
    line-height: 250px;
   }
   #i{
   background-color:saddlebrown;
   grid-area: I;
   text-align: center;
   line-height: 150px;
  } 
    }  
  /* tablet screen  */  
    

    @media(max-width:768px){
      body{
        
        margin: auto;
       }
       .container{
        display: grid;
        height: 1055px;
        
        grid-template-columns:1fr 1fr ;
        grid-template-rows: 1fr 1fr 0.6fr 0.5fr 0.5fr .32fr 0.3fr ;
        grid-template-areas:
        "A A"
        "B B" 
        "C C"
        "D D"
        "E F" 
        "G H"
        "I I"; 
       
        grid-gap:0.2rem;
      }
       #a{
         background-color:aqua ;
         grid-area:A;
         text-align: center;
        line-height:75px;
       }
        #b{ 
         background-color:aquamarine ;
         grid-area: B;
         line-height: 150px;
         text-align: center
       }
       #c{
        background-color:cyan;
        grid-area:C;
        text-align: center;
         line-height: 125px;
       }
       #d{
         background-color:darkturquoise;
         grid-area:D;
         text-align: center;
         line-height: 125px;
        }
       #e{
         background-color:lightblue;
         grid-area:E;
         text-align: center;
         line-height: 250px;
        }
       #f{
        background-color:lightskyblue;
        grid-area:F;
        text-align: center;
        line-height: 250px;
        }
       #g{
        background-color:mediumturquoise;
        grid-area:G;
        text-align: center;
        line-height: 250px;
         }
              
        #h{
        background-color:lightcyan;
        grid-area:H;
        text-align: center;
        line-height: 250px;
     
        }
        #i{
        background-color:palegreen;
        grid-area:I;
        text-align: center;
        line-height: 80px;
       }
                  
      } 
     /* phone */

 @media(max-width:480px){
  body{
    margin: auto;
  }
  .container{
    display: grid;
    height: 1055px;
    
    grid-template-columns:1fr 1fr ;
    grid-template-rows: 1fr 1fr 0.6fr 0.5fr 0.5fr .32fr 0.3fr ;
    grid-template-areas:
    "A A"
    "B B" 
    "C C"
    "D D"
    "E F" 
    "G H"
    "I I"; 
   
    grid-gap: 0.2rem;
  }
  #a{
    background-color:red ;
    grid-area:A;
    text-align: center;
    line-height:75px;
    
  }
  #b{
    background-color:coral ;
    grid-area: B;
    line-height: 150px;
    text-align: center;
   
    
  }
  #c{
   background-color:darkgoldenrod;
   grid-area: C;
   text-align: center;
   line-height: 125px;
   
  }
  #d{
    background-color:darkred;
    grid-area: D;
    text-align: center;
    line-height: 125px;
    
   }
  #e{
    background-color:indianred;
    grid-area: E;
    text-align: center;
    line-height: 250px;
    
   }
  #f{
   background-color:maroon;
   grid-area: F;
   text-align: center;
   line-height: 250px;
  }
  #g{
   background-color:lightcoral;
   grid-area: G;
   text-align: center;
   line-height: 250px;
   
    }
         
   #h{
   background-color:mediumvioletred;
   grid-area: H;
   text-align: center;
   line-height: 250px;
   
   }
   #i{
   background-color:saddlebrown;
   grid-area: I;
   text-align: center;
   line-height: 80px;
   ;
  }
  } 
  